<div class="box tabular settings">
  <h3><%= l(:disable_notifications) %></h3>
  <% redmine_silent_statuses_list_of_active_statuses.each do |status| %>
    <p style="padding-left: 250px">
      <%= label_tag "settings[#{status.name.parameterize.underscore}]", status.name %>
      <% if defined?(settings) && settings && settings.include?(status.name.parameterize.underscore) %>
        <%= check_box_tag "settings[#{status.name.parameterize.underscore}]" , status.name.parameterize.underscore, true %>
      <% else %>
        <%= check_box_tag "settings[#{status.name.parameterize.underscore}]" , status.name.parameterize.underscore, false %>
      <% end %>
    </p>
  <% end %>
</div>
<div class="box tabular settings">
  <p style="padding-left: 250px">
    <%= label_tag "settings[notify_additional_changes]", l(:notify_on) %>
    <%= check_box_tag "settings[notify_additional_changes]" , 'notify_additional_changes', (defined?(settings) && settings && settings.include?('notify_additional_changes')) %>
    <span class="tip"><%= l(:notify_hint) %></span>
  </p>
</div>
